{% extends "base.html" %}

{% block title %}Restablecimiento de Contraseña Completado{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h2 class="mb-4">Restablecimiento de Contraseña Completado</h2>
      <p>Tu contraseña ha sido establecida. Ya puedes seguir adelante e <a href="{% url 'login' %}">iniciar sesión</a>.</p>
      <p class="mt-4"><a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión Ahora</a></p>
    </div>
  </div>
{% endblock %}