{% extends "base.html" %}

{% block title %}Correo de Restablecimiento Enviado{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h2 class="mb-4">Correo de Restablecimiento Enviado</h2>
      <p>Te hemos enviado por correo electrónico las instrucciones para restablecer tu contraseña, si es que existe una cuenta con el correo electrónico que ingresaste. Deberías recibirlo en breve.</p>
      <p>Si no recibes un correo electrónico, por favor asegúrate de haber ingresado la dirección con la que te registraste y revisa tu carpeta de spam.</p>
      <p class="mt-4"><a href="{% url 'home' %}" class="btn btn-secondary">Volver a la página de inicio</a></p>
    </div>
  </div>
{% endblock %}